{% extends "base.html" %}
{% load static %}

{% block body_class %}backgroundPage{% endblock %}

{% block sidenav %}
      <li>
        <a href="/">  Home </a>
      </li>
{% endblock sidenav %}

{% block content %}
<div class="loginPageContainer">
    <div class="loginContainer">
        <h1>Sign In</h1>

        <form action="{% url 'login' %}" method="post">
          <table class="loginTable">

              <div class="formGroup">
                  <label for="id_username">Username</label>
                  {{ form.username }}
              </div>
              <div class="formGroup">
                  <label for="id_password">Password</label>
                  {{ form.password }}
              </div>
              <tr>
                 <td>
                     <input class="loginBtn" type="submit" value="Login">
                 </td>
              </tr>
          </table>

            <p class="registerText">
                Don't have an account? <a href="/register">Sign Up</a>
            </p>

          <input type="hidden" name="next" value="{{ next }}" />
          {% csrf_token %}
         </form>
    </div>
</div>
{% endblock content %}