{% extends "base.html" %}
{% load static %}

{% block body_class %}backgroundPage{% endblock %}

{% block sidenav %}
      <li>
        <a href="/">  Home </a>
      </li>
{% endblock sidenav %}

{% block content %}
<div class="registerPageContainer">
    <div class="registerContainer">
        <h1>Create Account</h1>

        <form action="" method="post">

            <div class="formGroup">
                <label>Username</label>
                <div class="inputWrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-person-circle inputIcon" viewBox="0 0 16 16">
                        <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0"/>
                        <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8m8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1"/>
                    </svg>
                    {{ form.username }}
                </div>
                {% if form.username.errors %}
                    <div class="helpText">{{ form.username.errors.0 }}</div>
                {% else %}
                    <div class="helpText">{{ form.username.help_text }}</div>
                {% endif %}
            </div>

            <div class="formGroup">
                <label>Password</label>
                <div class="inputWrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill inputIcon" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4m0 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"/>
                    </svg>
                    {{ form.password1 }}
                </div>
                {% if form.password1.errors %}
                    <div class="helpText">{{ form.password1.errors.0 }}</div>
                {% else %}
                    <div class="helpText">{{ form.password1.help_text }}</div>
                {% endif %}
            </div>

            <div class="formGroup">
                <label>Confirm Password</label>
                <div class="inputWrapper">
                    <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-lock-fill inputIcon" viewBox="0 0 16 16">
                        <path fill-rule="evenodd" d="M8 0a4 4 0 0 1 4 4v2.05a2.5 2.5 0 0 1 2 2.45v5a2.5 2.5 0 0 1-2.5 2.5h-7A2.5 2.5 0 0 1 2 13.5v-5a2.5 2.5 0 0 1 2-2.45V4a4 4 0 0 1 4-4m0 1a3 3 0 0 0-3 3v2h6V4a3 3 0 0 0-3-3"/>
                    </svg>
                    {{ form.password2 }}
                </div>
                {% if form.password2.errors %}
                    <div class="helpText">{{ form.password2.errors.0 }}</div>
                {% else %}
                    <div class="helpText">{{ form.password2.help_text }}</div>
                {% endif %}
            </div>

            <input class="loginBtn" type="submit" value="Create Account">

            <div class="orDivider">or</div>

            <p class="registerText">
                Already have an account? <a href="{% url 'login' %}?next=/">Login</a>
            </p>

            <input type="hidden" name="next" value="{{ next }}" />
            {% csrf_token %}
        </form>
    </div>
</div>
{% endblock content %}