{% extends "base.html" %}
{% load static %}

{% block body_class %}backgroundPage{% endblock %}

{% block sidenav %}
      <li>
        <a href="/">  Home </a>
      </li>
{% endblock sidenav %}

{% block content %}
<div class="registerPageContainer">
    <div class="registerContainer">
        <h1>User Registration</h1>

        <form action="" method="post">

           <div class="formGroup">
    <label>Username</label>
    {{ form.username }}

    {% if form.username.errors %}
        <div class="helpText">{{ form.username.errors.0 }}</div>
    {% else %}
        <div class="helpText">{{ form.username.help_text }}</div>
    {% endif %}
</div>

<div class="formGroup">
    <label>Password</label>
    {{ form.password1 }}

    {% if form.password1.errors %}
        <div class="helpText">{{ form.password1.errors.0 }}</div>
    {% else %}
        <div class="helpText">{{ form.password1.help_text }}</div>
    {% endif %}
</div>

<div class="formGroup">
    <label>Confirm Password</label>
    {{ form.password2 }}

    {% if form.password2.errors %}
        <div class="helpText">{{ form.password2.errors.0 }}</div>
    {% else %}
        <div class="helpText">{{ form.password2.help_text }}</div>
    {% endif %}
</div>

            <input class="loginBtn" type="submit" value="Create Account">

            <p class="registerText">
                Already have an account? <a href="/login">Login</a>
            </p>

          <input type="hidden" name="next" value="{{ next }}" />
          {% csrf_token %}
         </form>
    </div>
</div>
{% endblock content %}